:root {
  --accent-color: #2196f3;
  --accent-color-active: #188ce8;
  --accent-color-op: #2196f3e6;
  --black-color: #000000;
  --gallery-border-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-background-color: #c4c4c4;
  --hero-overlay-color: #2f303a66;
  --icon-color: #afb1b8;
  --modal-border-color: #21212133;
  --modal-close-color: #0000001a;
  --modal-overlay-color: #00000033;
  --primary-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-background-color: #f5f4fa;
  --secondary-text-color: #757575;
  --secondary-text-color-op: #75757580;
  --whatwedo-overlay-color: #2f303acc;
  --white-color: #ffffff;
  --white-color-op: #ffffff99;
  --white-overlay-color: #ffffff1a;
  --white-subscribe-color: #ffffff4d;

  --duration: 250ms;
  --longer: 550ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-longer: cubic-bezier(1, -0.25, 0.75, 1);
}

/* animations */
@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jumpOut {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  20% {
    transform: translate(-50%, -35%) scale(1.25, 0.8);
  }
  100% {
    transform: translate(-50%, -200%) scale(0.5, 2);
  }
}

/* global */
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.block {
  display: block;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header .container {
  display: flex;
  min-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 93px;
}
.logo {
  color: var(--black-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  height: 100%;
}
.nav-item {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  position: relative;

  padding: 32px 0;

  color: inherit;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--duration) var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--duration) var(--timing-function);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icon {
  margin-right: 10px;

  fill: currentColor;
}
.current {
  color: var(--accent-color);
}

/* index */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: auto;

  background-color: var(--hero-background-color);
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/index/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero.section {
  padding: 200px 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-title {
  width: 696px;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  width: 216px;
  padding: 10px 15px;

  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color var(--duration) var(--timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-active);
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features .icon-box {
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
  border-radius: 4px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  color: var(--secondary-text-color);
}
.whatwedo.section {
  padding-top: 0;
}
.whatwedo-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.whatwedo-list {
  display: flex;
}
.whatwedo-item {
  position: relative;
}
.whatwedo-item:not(:last-child) {
  margin-right: 30px;
}
.whatwedo-box {
  position: absolute;
  bottom: 0;

  width: 100%;
  min-height: 70px;
  padding: 27px 15px;

  background-color: var(--whatwedo-overlay-color);
}
.whatwedo-text {
  color: var(--white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;

  text-align: center;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-prof {
  margin-bottom: 16px;

  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
}
.social-list {
  display: flex;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-list .icon-box {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--icon-color);

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function);
}
.social-list .icon-box:hover,
.social-list .icon-box:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.social-icon {
  fill: currentColor;
}
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients-list {
  display: flex;
}
.clients-item {
  width: 170px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients .icon-box {
  height: 92px;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}
.clients .icon-box:hover,
.clients .icon-box:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}

/* portfolio */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.gallery-button {
  padding: 6px 22px;

  background-color: var(--secondary-background-color);
  color: inherit;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}
.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014, 0px 2px 2px #0000001f;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.gallery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.gallery-link {
  display: block;

  transition: box-shadow var(--duration) var(--timing-function);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f, 1px 4px 6px #00000029;
}
.gallery-link:hover .gallery-overlay,
.gallery-link:focus .gallery-overlay {
  transform: translateY(0%);
}
.gallery-thumb {
  position: relative;
  overflow: hidden;
}
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;

  background-color: var(--accent-color-op);

  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}
.gallery-overlay-text {
  color: var(--white-color);

  font-size: 18px;
  line-height: 1.56;
}
.gallery-descr {
  padding: 20px 24px;

  border-right: 1px solid var(--gallery-border-color);
  border-bottom: 1px solid var(--gallery-border-color);
  border-left: 1px solid var(--gallery-border-color);
}
.gallery-title {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-category {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-background-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-item:nth-child(1) {
  margin-right: 70px;
}
.footer-item:nth-child(2) {
  margin-right: 93px;
}
.footer .logo {
  color: var(--white-color);
}
.footer-contacts {
  width: 231px;
  margin-top: 20px;

  font-style: normal;
}
.footer-contacts-item {
  display: flex;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-gmaps-link {
  color: var(--white-color);
}
.footer-contacts-link {
  color: var(--white-color-op);

  transition: color var(--duration) var(--timing-function);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--white-color);
}
.footer-title {
  color: var(--white-color);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.footer .icon-box {
  background-color: var(--white-overlay-color);
  color: var(--white-color);
}
.subscribe-form {
  display: flex;
  align-items: center;
}
.subscribe-field {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-subscribe-color);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
}
.subscribe-field::placeholder {
  color: var(--white-color-op);
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 12px;
  padding: 10px 15px;

  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--duration) var(--timing-function);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--accent-color-active);
}
.send-icon {
  margin-left: 10px;

  fill: currentColor;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: var(--modal-overlay-color);

  visibility: hidden;
  pointer-events: none;
}
.visible {
  visibility: visible;
  pointer-events: auto;

  animation: fadeIn var(--duration) var(--timing-function);
}
.backdrop-close-anim {
  animation: fadeOut var(--longer) var(--timing-longer);
}
.modal-close-anim {
  animation: jumpOut var(--longer) var(--timing-longer);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
  border-radius: 4px;

  transform: translate(-50%, -50%);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;

  background-color: transparent;

  border: 1px solid var(--modal-close-color);
  border-radius: 50%;

  transition: fill var(--duration) var(--timing-function);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-label {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.feedback-label:nth-last-of-type(2) {
  margin-bottom: 20px;
}
.feedback-label:focus-within .feedback-field {
  border-color: var(--accent-color);
}
.feedback-label:focus-within .field-icon {
  fill: var(--accent-color);
}
.feedback-label:focus-within .feedback-area {
  border-color: var(--accent-color);
}
.feedback-field {
  margin-top: 4px;
  padding: 11px 12px 11px 42px;

  color: var(--primary-text-color);
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  letter-spacing: 0.03em;

  transition: border-color var(--duration) var(--timing-function);
}
.field-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: var(--primary-text-color);

  transition: fill var(--duration) var(--timing-function);
}
.feedback-area {
  margin-top: 4px;
  padding: 12px 16px;

  color: var(--primary-text-color);
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  outline: none;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  transition: border-color var(--duration) var(--timing-function);
}
.feedback-area::placeholder {
  color: var(--secondary-text-color-op);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.feedback-accept {
  position: relative;

  margin-bottom: 30px;
  padding-left: 24px;

  color: var(--secondary-text-color);
  line-height: 1.14;
}
.accept-checkbox:checked ~ .not-checked {
  opacity: 0;
}
.accept-checkbox:checked ~ .checked {
  opacity: 1;
}
.accept-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.not-checked {
  position: absolute;
  top: 50%;
  left: 0;

  opacity: 1;
  pointer-events: none;

  transform: translateY(-50%);
  transition: opacity var(--duration) var(--timing-function);
}
.checked {
  position: absolute;
  top: 50%;
  left: 0;

  opacity: 0;
  pointer-events: none;

  transform: translateY(-50%);
  transition: opacity var(--duration) var(--timing-function);
}
.accept-link {
  position: relative;

  color: var(--accent-color);
  text-decoration: none;
}
.accept-link:hover::after,
.accept-link:focus::after {
  transform: scaleX(0);
  transform-origin: left;
}
.accept-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;

  width: 100%;
  height: 1px;

  background-color: var(--accent-color);

  transform: scaleX(1);
  transition: transform var(--duration) linear;
  transform-origin: right;
}
.feedback-button {
  width: 200px;
  padding: 10px 15px;

  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;

  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color var(--duration) var(--timing-function);
}
.feedback-button:hover,
.feedback-button:focus {
  background-color: var(--accent-color-active);
}
